<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.syt.cmn.mapper.RegionMapper">
<insert id="insertRegionExcelVoList" >

    INSERT INTO
        region(id,code,parent_code,name,level)
    <foreach collection="cachedDataList" item="reg" separator="," open="values" >
        <!-- 在foreach标签内部如果需要引用遍历得到的具体的一个对象，需要使用item属性声明的名称 -->
        (#{reg.id},#{reg.code},#{reg.parentCode},#{reg.name},#{reg.level})
    </foreach>

</insert>
</mapper>
